* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fcf5e9;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.logo {
    width:130px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-lg {
    max-width: 1400px;
}

.container-sm {
    max-width: 900px;
}

.header {
    margin: 1.5rem auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        display: flex;
        gap: 1rem;
        a {
            padding: 0.5rem 1rem;
        }
        a:hover {
            background: var(--primary-color);
        }
    }

    .current {
        background: var(--primary-color);
        font-weight: 600;
    }
}

@media(max-width:768px) {
    .header .header-flex {
        flex-direction:column;
        gap:1.5rem;
    }
}