* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fcf5e9;
    --dark-color: #333;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Utilities */

.highlight {
    background-color: var(--primary-color);
    color: #333;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.section-heading {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 40px;
}

.bg-dark .highlight {
    padding: 0 0.3rem;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: transparent;
    border: 1px solid var(--dark-color);
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;

    &:hover {
        background-color: var(--dark-color);
        color: #fff;
    }
  }

/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-lg {
    max-width: 1400px;
}

.container-sm {
    max-width: 900px;
}

/* Header */

.logo {
    width:130px;
}

.header {
    margin: 1.5rem auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        display: flex;
        gap: 1rem;
        a {
            padding: 0.5rem 1rem;
        }
        a:hover {
            background: var(--primary-color);
        }
    }

    .current {
        background: var(--primary-color);
        font-weight: 600;
    }
}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    h2 {
        font-size: 3rem;
        font-weight: normal;
        text-align: center;
        line-height: 1.4;
    }
}

/* Gallery */

.gallery-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .gallery-item {
        width: calc(33% - 20px);
        border-radius: 10px;
    }

    img {
        border-radius: 10px;
    
        &:hover {
            opacity:0.9;
         }
    }
    
}

.gallery-item {
    width: calc(33% - 20px);
    border-radius: 10px;
    
    img {
        border-radius: 10px;
    
        &:hover {
            opacity:0.9;
        }
    }
}

/* Footer */

.footer {
    border-top: 1px solid #aaa;
    padding: 2rem 1.5rem;
    margin-top: 2rem;

    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h4 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    a {
        margin: 0.2rem;
    }
}

/* Services */

.services {
    padding: 3rem 0 4rem;

    .services-flex {
        display: flex;
        gap: 2rem;
    }

    .service-item h4{
        font-size: 1.1rem;
        margin-bottom: 0.7rem;
    }
}

/* Team */

.team {
    padding: 3rem 0 4rem;

    .team-flex {
        display: flex;
        gap: 1.4rem;
    }
    .profile img {
        border-radius: 10px;
    }
}

/* Contact */

.contact {
    padding: 3rem 0 4rem;

    p {
        text-align: center;
        margin-bottom: 2rem;
    }

    .form-group {
        margin:2rem 0;
    }

    input, textarea {
        border: none;
        border-bottom: 1px solid var(--dark-color);
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        padding-bottom: 1rem;

        &:focus {
            outline: none;
        }
    }

    textarea {
        height: 200px;
    }
}

/* Media Queries */

@media(max-width:768px) {
    .header .header-flex {
        flex-direction:column;
        gap:1.5rem;
    }

    
    .hero {
        height: 300px;
        h2 {
            font-size: 1.8rem;
        }
    }

    .gallery-flex .gallery-item {
        width: calc(50% - 20px);
    }

    .footer .footer-flex {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }

    .services .services-flex {
        flex-direction: column;
    }

    .team .team-flex {
        flex-direction: column;
    }
}